In [1]:
import stock_API

In [2]:
data = stock_API.data

In [3]:
rsi = stock_API.rsi_calc(data)

In [4]:
data['rsi'] = rsi

In [3]:
data.head()

,open,high,low,close,adjclose,volume,ticker,VIX,USDX,EFFR
2023-01-03,384.369995,386.429993,377.829987,380.820007,377.968140,74850700.0,SPY,22.900000,104.519997,4.33
2023-01-04,383.179993,385.880005,380.000000,383.760010,380.886139,85934100.0,SPY,22.010000,104.250000,4.33
2023-01-05,381.720001,381.839996,378.760010,379.380005,376.538910,76970500.0,SPY,22.459999,105.040001,4.33
2023-01-06,382.609985,389.250000,379.410004,388.079987,385.173737,104189600.0,SPY,21.129999,103.879997,4.33
2023-01-09,390.369995,393.700012,387.670013,387.859985,384.955383,73978100.0,SPY,21.969999,103.000000,4.33

In [7]:
stock_API.UNRATE

            UNRATE
date
2023-01-01     3.4
2023-02-01     3.6
2023-03-01     3.5
2023-04-01     3.4
2023-05-01     3.7
2023-06-01     3.6
2023-07-01     3.5

In [2]:
stock_API.VIX

                  VIX
2023-01-03  22.900000
2023-01-04  22.010000
2023-01-05  22.459999
2023-01-06  21.129999
2023-01-09  21.969999
...               ...
2023-08-09  15.960000
2023-08-10  15.850000
2023-08-11  14.840000
2023-08-14  14.820000
2023-08-15  15.850000

[161 rows x 1 columns]

In [8]:
stock_API.ticker.join([stock_API.VIX, stock_API.USDX])

,open,high,low,close,adjclose,volume,ticker,VIX,USDX
2023-01-03,384.369995,386.429993,377.829987,380.820007,377.968140,74850700.0,SPY,22.900000,104.519997
2023-01-04,383.179993,385.880005,380.000000,383.760010,380.886139,85934100.0,SPY,22.010000,104.250000
2023-01-05,381.720001,381.839996,378.760010,379.380005,376.538910,76970500.0,SPY,22.459999,105.040001
2023-01-06,382.609985,389.250000,379.410004,388.079987,385.173737,104189600.0,SPY,21.129999,103.879997
2023-01-09,390.369995,393.700012,387.670013,387.859985,384.955383,73978100.0,SPY,21.969999,103.000000
...,...,...,...,...,...,...,...,...,...
2023-08-09,449.029999,449.200012,444.959991,445.750000,445.750000,78789600.0,SPY,15.960000,102.489998
2023-08-10,448.190002,451.700012,444.700012,445.910004,445.910004,93005500.0,SPY,15.850000,102.519997
2023-08-11,443.970001,446.700012,443.350006,445.649994,445.649994,68664600.0,SPY,14.840000,102.839996
2023-08-14,444.700012,448.109985,444.380005,448.109985,448.109985,47800000.0,SPY,14.820000,103.190002
2023-08-15,446.269989,446.640015,443.470001,444.130005,444.130005,46341102.0,SPY,15.860000,103.210999

In [3]:
stock_API.VIX

                  VIX
2023-01-03  22.900000
2023-01-04  22.010000
2023-01-05  22.459999
2023-01-06  21.129999
2023-01-09  21.969999
...               ...
2023-08-09  15.960000
2023-08-10  15.850000
2023-08-11  14.840000
2023-08-14  14.820000
2023-08-15  15.860000

[161 rows x 1 columns]